name: Ejecutar Colab/Notebook

on:
  schedule:
    - cron: '0 * * * *'  # cada hora en punto UTC
  workflow_dispatch:

jobs:
  run_notebook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Instalar dependencias
      - name: Instalar Python y paquetes
        run: |
          python -m pip install --upgrade pip
          pip install nbconvert papermill

      # Ejecutar el notebook
      - name: Ejecutar notebook
        run: |
          papermill Horarios_de_labos_del_0.ipynb Horarios_de_labos_del_0_out.ipynb

      # Commit y push resultados si hay cambios
      - name: Commit y push resultados
        run: |
          git add Horarios_de_labos_del_0_out.ipynb
          if ! git diff --cached --quiet; then
            git commit -m "Actualizar notebook ejecutado"
            git pull --rebase origin main
            git push origin main
          else
            echo "No hay cambios"
